*,
*::after,
*::before {
  margin: 0;
}

.bg {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1000;
  min-width: 100%;
  min-height: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  padding: 20px;
  position: relative;
  transition: 0.3s;
}

.link-ativo::after {
  content: "";
  position: absolute;
  background-color: white;
  width: 30px;
  height: 2px;
  bottom: 16px;
  left: 20px;
  transition: 2s;
}

.menu a:hover {
  color: #d8d8d8;
  transition: 0.3s;
}

.menu {
  display: flex;
  justify-content: space-between;
  margin-bottom: 140px;
  margin-top: 50px;
  font-family: "Roboto";
  font-size: 1.2em;
  color: #fefefe;
  letter-spacing: 1.5px;
}

.menu-home {
  margin-left: 210px;
  box-sizing: border-box;
}

.menu-extra {
  margin-right: 210px;
}

.menu-extra ul {
  display: flex;
}

.menu-extra li {
  margin-right: 20px;
}

.menu-extra li:last-child {
  margin-right: 0;
}

.intro-section {
  margin-left: 230px;
}

.title {
  margin-bottom: 50px;
  font-family: "Nunito";
  font-size: 5em;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1.3px;
}

.intro-block {
  border-radius: 5px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.4);
  font-family: "Roboto";
  font-size: 1.2em;
  color: white;
  width: 550px;
  letter-spacing: 1.2px;
  line-height: 26px;
}

.intro-block p {
  color: #d8d8d8;
}

.cast-section {
  display: grid;
  grid-template-columns: 230px minmax(300px, 700px) 1fr 230px;
}

.slide-wrapper {
  grid-column: 2/3;
}

.slide-text {
  grid-column: 3/4;
}
